.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../../assets/images/paint-spalsh.png');
  background-repeat: repeat-x;
  background-position: center top 20%;
  background-size: 30%;
}
h2 {
  padding: 2rem;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  border-radius: 1rem;
}
